<%= "#{@user.name}'s Dashboard" %>
</br>

<%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %>
</br>


  <% @view_parties.each do |view_party| %>
  <div>
    <h2><%= link_to "#{view_party.movie_title}",   user_movie_path(@user.id, view_party.movie_id) %></h2>
    <p><%= image_tag "#{view_party.picture}" %></p>
    <p>Duration: <%= view_party.duration %></p>
    <p>Date: <%= view_party.day %></p>
    <p>Start Time: <%= view_party.start_time_formatted %></p>
    <p>Host: <%= view_party.host %> </p>
    <h3>Invited Users</h3>
    <ul>
      <% view_party.guests.each do |guest|  %>
        <% if guest == @user.name %>
          <li><p><strong><%= guest %></strong></p></li>
        <% else %>
          <li><p><%= guest %></p></li>
        <% end %>
      <% end %>
    </ul>
        
  </div>
<% end %>


  
  
  
  
  